body {
    font-family: "raleway", sans-serif;
    margin: 0px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 0px;
}

nav div{
    display: flex;
    list-style: none;
    color: inherit;
}

nav a{
    display: flex;
    text-decoration: none;
    border-bottom: transparent;
}

nav a:hover{
    border-top-color: var(#0065fc);
}

a{
    padding: 20px;
}

.accommodation {
    color: #0065fc;
    padding: 20px;
}

nav img {
    height: 40px;
    margin-right: auto;
    padding: 0 30px;
}

@media(max-width:600px) {
    .sub-nav{
        order: 1;
        flex-basis: 100%;
    }
}

.sub-nav {
    display: flex;
}

.sub-nav a {
    flex-basis: 50%;
    text-align: center;
    border-bottom: 2px solid transparent;
}

.sub-nav a:hover{
    border-bottom-color: #0065fc;
    border-top: transparent;
    color: #0065fc;
}

.main{
    padding: 0 30px;
}

.contents{
    display:flex;
}

.contents i{
    padding: 12px;
    background-color: lightgrey;
    border-radius:6px 0 0 6px;
}

.contents input{
    border: 1px solid lightgray;
}

.contents ::placeholder{
    font-weight: bold;
    font-size: 12px;
    padding: 8px;
}

.contents button{
    background-color: #0065fc;
    color: white;
    border-radius: 0 6px 6px 0px;
    font-weight: bold;
    font-size: 15px;
    border: none;
    cursor:pointer;
}                      